h1 {color: white; font-size: 300%; font-family: Helvetica}
h2 {color: blue; font-size: 200%; font-family: Helvetica}
body {background-color: black; color: red; float: right; font-family: helvetica; display: inline-block;}
h3 {color: black;}